In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Load datasets
dete = pd.read_csv('../data/dete_survey.csv')
tafe = pd.read_csv('../data/tafe_survey.csv')

In [3]:
dete.head()

,ID,SeparationType,Cease Date,DETE Start Date,Role Start Date,Position,Classification,Region,Business Unit,Employment Status,...,Kept informed,Wellness programs,Health & Safety,Gender,Age,Aboriginal,Torres Strait,South Sea,Disability,NESB
0,1,Ill Health Retirement,08/2012,1984,2004,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,Yes
1,2,Voluntary Early Retirement (VER),08/2012,Not Stated,Not Stated,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,NaN
2,3,Voluntary Early Retirement (VER),05/2012,2011,2011,Schools Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,N,N,N,Male,61 or older,NaN,NaN,NaN,NaN,NaN
3,4,Resignation-Other reasons,05/2012,2005,2006,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,A,N,A,Female,36-40,NaN,NaN,NaN,NaN,NaN
4,5,Age Retirement,05/2012,1970,1989,Head of Curriculum/Head of Special Education,NaN,South East,NaN,Permanent Full-time,...,N,A,M,Female,61 or older,NaN,NaN,NaN,NaN,NaN

In [4]:
tafe.head()

,Record ID,Institute,WorkArea,CESSATION YEAR,Reason for ceasing employment,Contributing Factors. Career Move - Public Sector,Contributing Factors. Career Move - Private Sector,Contributing Factors. Career Move - Self-employment,Contributing Factors. Ill Health,Contributing Factors. Maternity/Family,...,Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?,Workplace. Topic:Does your workplace promote and practice the principles of employment equity?,Workplace. Topic:Does your workplace value the diversity of its employees?,Workplace. Topic:Would you recommend the Institute as an employer to others?,Gender. What is your Gender?,CurrentAge. Current Age,Employment Type. Employment Type,Classification. Classification,LengthofServiceOverall. Overall Length of Service at Institute (in years),LengthofServiceCurrent. Length of Service at current workplace (in years)
0,6.341330e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,Yes,Yes,Yes,Yes,Female,26 30,Temporary Full-time,Administration (AO),1-2,1-2
1,6.341337e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Retirement,-,-,-,-,-,...,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN
2,6.341388e+17,Mount Isa Institute of TAFE,Delivery (teaching),2010.0,Retirement,-,-,-,-,-,...,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN
3,6.341399e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN
4,6.341466e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,Yes,Yes,Yes,Yes,Male,41 45,Permanent Full-time,Teacher (including LVT),3-4,3-4

In [5]:
# Standardize column names
dete.columns = dete.columns.str.strip().str.lower().str.replace(' ', '_')
tafe.columns = tafe.columns.str.strip().str.lower().str.replace(' ', '_')

In [6]:
# dete.columns
tafe.columns

Index(['record_id', 'institute', 'workarea', 'cessation_year',
       'reason_for_ceasing_employment',
       'contributing_factors._career_move_-_public_sector',
       'contributing_factors._career_move_-_private_sector',
       'contributing_factors._career_move_-_self-employment',
       'contributing_factors._ill_health',
       'contributing_factors._maternity/family',
       'contributing_factors._dissatisfaction',
       'contributing_factors._job_dissatisfaction',
       'contributing_factors._interpersonal_conflict',
       'contributing_factors._study', 'contributing_factors._travel',
       'contributing_factors._other', 'contributing_factors._none',
       'main_factor._which_of_these_was_the_main_factor_for_leaving?',
       'instituteviews._topic:1._i_feel_the_senior_leadership_had_a_clear_vision_and_direction',
       'instituteviews._topic:2._i_was_given_access_to_skills_training_to_help_me_do_my_job_better',
       'instituteviews._topic:3._i_was_given_adequate_opportunities_for_personal_development',
       'instituteviews._topic:4._i_was_given_adequate_opportunities_for_promotion_within_%institute]q25lbl%',
       'instituteviews._topic:5._i_felt_the_salary_for_the_job_was_right_for_the_responsibilities_i_had',
       'instituteviews._topic:6._the_organisation_recognised_when_staff_did_good_work',
       'instituteviews._topic:7._management_was_generally_supportive_of_me',
       'instituteviews._topic:8._management_was_generally_supportive_of_my_team',
       'instituteviews._topic:9._i_was_kept_informed_of_the_changes_in_the_organisation_which_would_affect_me',
       'instituteviews._topic:10._staff_morale_was_positive_within_the_institute',
       'instituteviews._topic:11._if_i_had_a_workplace_issue_it_was_dealt_with_quickly',
       'instituteviews._topic:12._if_i_had_a_workplace_issue_it_was_dealt_with_efficiently',
       'instituteviews._topic:13._if_i_had_a_workplace_issue_it_was_dealt_with_discreetly',
       'workunitviews._topic:14._i_was_satisfied_with_the_quality_of_the_management_and_supervision_within_my_work_unit',
       'workunitviews._topic:15._i_worked_well_with_my_colleagues',
       'workunitviews._topic:16._my_job_was_challenging_and_interesting',
       'workunitviews._topic:17._i_was_encouraged_to_use_my_initiative_in_the_course_of_my_work',
       'workunitviews._topic:18._i_had_sufficient_contact_with_other_people_in_my_job',
       'workunitviews._topic:19._i_was_given_adequate_support_and_co-operation_by_my_peers_to_enable_me_to_do_my_job',
       'workunitviews._topic:20._i_was_able_to_use_the_full_range_of_my_skills_in_my_job',
       'workunitviews._topic:21._i_was_able_to_use_the_full_range_of_my_abilities_in_my_job._;_category:level_of_agreement;_question:your_views_about_your_work_unit]',
       'workunitviews._topic:22._i_was_able_to_use_the_full_range_of_my_knowledge_in_my_job',
       'workunitviews._topic:23._my_job_provided_sufficient_variety',
       'workunitviews._topic:24._i_was_able_to_cope_with_the_level_of_stress_and_pressure_in_my_job',
       'workunitviews._topic:25._my_job_allowed_me_to_balance_the_demands_of_work_and_family_to_my_satisfaction',
       'workunitviews._topic:26._my_supervisor_gave_me_adequate_personal_recognition_and_feedback_on_my_performance',
       'workunitviews._topic:27._my_working_environment_was_satisfactory_e.g._sufficient_space,_good_lighting,_suitable_seating_and_working_area',
       'workunitviews._topic:28._i_was_given_the_opportunity_to_mentor_and_coach_others_in_order_for_me_to_pass_on_my_skills_and_knowledge_prior_to_my_cessation_date',
       'workunitviews._topic:29._there_was_adequate_communication_between_staff_in_my_unit',
       'workunitviews._topic:30._staff_morale_was_positive_within_my_work_unit',
       'induction._did_you_undertake_workplace_induction?',
       'inductioninfo._topic:did_you_undertake_a_corporate_induction?',
       'inductioninfo._topic:did_you_undertake_a_institute_induction?',
       'inductioninfo._topic:_did_you_undertake_team_induction?',
       'inductioninfo._face_to_face_topic:did_you_undertake_a_corporate_induction;_category:how_it_was_conducted?',
       'inductioninfo._on-line_topic:did_you_undertake_a_corporate_induction;_category:how_it_was_conducted?',
       'inductioninfo._induction_manual_topic:did_you_undertake_a_corporate_induction?',
       'inductioninfo._face_to_face_topic:did_you_undertake_a_institute_induction?',
       'inductioninfo._on-line_topic:did_you_undertake_a_institute_induction?',
       'inductioninfo._induction_manual_topic:did_you_undertake_a_institute_induction?',
       'inductioninfo._face_to_face_topic:_did_you_undertake_team_induction;_category?',
       'inductioninfo._on-line_topic:_did_you_undertake_team_induction?process_you_undertook_and_how_it_was_conducted.]',
       'inductioninfo._induction_manual_topic:_did_you_undertake_team_induction?',
       'workplace._topic:did_you_and_your_manager_develop_a_performance_and_professional_development_plan_(ppdp)?',
       'workplace._topic:does_your_workplace_promote_a_work_culture_free_from_all_forms_of_unlawful_discrimination?',
       'workplace._topic:does_your_workplace_promote_and_practice_the_principles_of_employment_equity?',
       'workplace._topic:does_your_workplace_value_the_diversity_of_its_employees?',
       'workplace._topic:would_you_recommend_the_institute_as_an_employer_to_others?',
       'gender._what_is_your_gender?', 'currentage._current_age',
       'employment_type._employment_type', 'classification._classification',
       'lengthofserviceoverall._overall_length_of_service_at_institute_(in_years)',
       'lengthofservicecurrent._length_of_service_at_current_workplace_(in_years)'],
      dtype='object')

In [7]:

# Select relevant columns for analysis
dete_subset = dete[['id', 'separationtype', 'cease_date', 'dete_start_date', 'position', 'employment_status']]
tafe_subset = tafe[['record_id', 'institute', 'cessation_year', 'reason_for_ceasing_employment'] +
    [col for col in tafe.columns if col.startswith('contributing_factors')]]

In [8]:
dete_subset.head()

,id,separationtype,cease_date,dete_start_date,position,employment_status
0,1,Ill Health Retirement,08/2012,1984,Public Servant,Permanent Full-time
1,2,Voluntary Early Retirement (VER),08/2012,Not Stated,Public Servant,Permanent Full-time
2,3,Voluntary Early Retirement (VER),05/2012,2011,Schools Officer,Permanent Full-time
3,4,Resignation-Other reasons,05/2012,2005,Teacher,Permanent Full-time
4,5,Age Retirement,05/2012,1970,Head of Curriculum/Head of Special Education,Permanent Full-time

In [9]:
tafe_subset.head()

,record_id,institute,cessation_year,reason_for_ceasing_employment,contributing_factors._career_move_-_public_sector,contributing_factors._career_move_-_private_sector,contributing_factors._career_move_-_self-employment,contributing_factors._ill_health,contributing_factors._maternity/family,contributing_factors._dissatisfaction,contributing_factors._job_dissatisfaction,contributing_factors._interpersonal_conflict,contributing_factors._study,contributing_factors._travel,contributing_factors._other,contributing_factors._none
0,6.341330e+17,Southern Queensland Institute of TAFE,2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6.341337e+17,Mount Isa Institute of TAFE,2010.0,Retirement,-,-,-,-,-,-,-,-,-,Travel,-,-
2,6.341388e+17,Mount Isa Institute of TAFE,2010.0,Retirement,-,-,-,-,-,-,-,-,-,-,-,NONE
3,6.341399e+17,Mount Isa Institute of TAFE,2010.0,Resignation,-,-,-,-,-,-,-,-,-,Travel,-,-
4,6.341466e+17,Southern Queensland Institute of TAFE,2010.0,Resignation,-,Career Move - Private Sector,-,-,-,-,-,-,-,-,-,-

In [10]:
# Combine contributing factors columns into a single column (comma-separated, ignoring NaN and '-')
factor_cols = [
    'contributing_factors._career_move_-_public_sector',
    'contributing_factors._career_move_-_private_sector',
    'contributing_factors._career_move_-_self-employment',
    'contributing_factors._ill_health',
    'contributing_factors._maternity/family',
    'contributing_factors._dissatisfaction',
    'contributing_factors._job_dissatisfaction',
    'contributing_factors._interpersonal_conflict',
    'contributing_factors._study',
    'contributing_factors._travel',
    'contributing_factors._other',
    'contributing_factors._none'
]

def combine_factors(row):
    return ', '.join(
        str(row[col]).strip()
        for col in factor_cols
        if pd.notnull(row[col]) and str(row[col]).strip() != '-'
    )

tafe_subset['combined_factors'] = tafe_subset.apply(combine_factors, axis=1)
tafe_subset.head()

C:\Users\DILSHAD\AppData\Local\Temp\ipykernel_4596\446103381.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tafe_subset['combined_factors'] = tafe_subset.apply(combine_factors, axis=1)

,record_id,institute,cessation_year,reason_for_ceasing_employment,contributing_factors._career_move_-_public_sector,contributing_factors._career_move_-_private_sector,contributing_factors._career_move_-_self-employment,contributing_factors._ill_health,contributing_factors._maternity/family,contributing_factors._dissatisfaction,contributing_factors._job_dissatisfaction,contributing_factors._interpersonal_conflict,contributing_factors._study,contributing_factors._travel,contributing_factors._other,contributing_factors._none,combined_factors
0,6.341330e+17,Southern Queensland Institute of TAFE,2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,6.341337e+17,Mount Isa Institute of TAFE,2010.0,Retirement,-,-,-,-,-,-,-,-,-,Travel,-,-,Travel
2,6.341388e+17,Mount Isa Institute of TAFE,2010.0,Retirement,-,-,-,-,-,-,-,-,-,-,-,NONE,NONE
3,6.341399e+17,Mount Isa Institute of TAFE,2010.0,Resignation,-,-,-,-,-,-,-,-,-,Travel,-,-,Travel
4,6.341466e+17,Southern Queensland Institute of TAFE,2010.0,Resignation,-,Career Move - Private Sector,-,-,-,-,-,-,-,-,-,-,Career Move - Private Sector

In [11]:
# Drop the columns that were combined into 'combined_factors' from tafe_subset
tafe_subset = tafe_subset.drop(columns=factor_cols)
tafe_subset.head()

,record_id,institute,cessation_year,reason_for_ceasing_employment,combined_factors
0,6.341330e+17,Southern Queensland Institute of TAFE,2010.0,Contract Expired,
1,6.341337e+17,Mount Isa Institute of TAFE,2010.0,Retirement,Travel
2,6.341388e+17,Mount Isa Institute of TAFE,2010.0,Retirement,NONE
3,6.341399e+17,Mount Isa Institute of TAFE,2010.0,Resignation,Travel
4,6.341466e+17,Southern Queensland Institute of TAFE,2010.0,Resignation,Career Move - Private Sector

In [12]:
# Combine 'reason_for_ceasing_employment' and 'combined_factors' into a new column
tafe_subset['reason_and_factors'] = (
    tafe_subset['reason_for_ceasing_employment'].fillna('') + ' | ' +
    tafe_subset['combined_factors'].fillna('')
)
tafe_subset.head()

,record_id,institute,cessation_year,reason_for_ceasing_employment,combined_factors,reason_and_factors
0,6.341330e+17,Southern Queensland Institute of TAFE,2010.0,Contract Expired,,Contract Expired |
1,6.341337e+17,Mount Isa Institute of TAFE,2010.0,Retirement,Travel,Retirement | Travel
2,6.341388e+17,Mount Isa Institute of TAFE,2010.0,Retirement,NONE,Retirement | NONE
3,6.341399e+17,Mount Isa Institute of TAFE,2010.0,Resignation,Travel,Resignation | Travel
4,6.341466e+17,Southern Queensland Institute of TAFE,2010.0,Resignation,Career Move - Private Sector,Resignation | Career Move - Private Sector

In [13]:
tafe_subset = tafe_subset.drop(columns=['reason_for_ceasing_employment', 'combined_factors', 'institute'])
tafe_subset.head()

      record_id  cessation_year                          reason_and_factors
0  6.341330e+17          2010.0                         Contract Expired |
1  6.341337e+17          2010.0                         Retirement | Travel
2  6.341388e+17          2010.0                           Retirement | NONE
3  6.341399e+17          2010.0                        Resignation | Travel
4  6.341466e+17          2010.0  Resignation | Career Move - Private Sector

In [14]:
dete_subset = dete_subset.rename(columns={'separationtype': 'reason_and_factors'})
dete_subset = dete_subset.rename(columns={'cease_date': 'cessation_year'})
dete_subset = dete_subset.rename(columns={'id': 'record_id'})

In [15]:
dete_subset = dete_subset.drop(columns=['dete_start_date', 'position', 'employment_status'])
dete_subset.head()

   record_id                reason_and_factors cessation_year
0          1             Ill Health Retirement        08/2012
1          2  Voluntary Early Retirement (VER)        08/2012
2          3  Voluntary Early Retirement (VER)        05/2012
3          4         Resignation-Other reasons        05/2012
4          5                    Age Retirement        05/2012

In [16]:
dete_subset.head()

   record_id                reason_and_factors cessation_year
0          1             Ill Health Retirement        08/2012
1          2  Voluntary Early Retirement (VER)        08/2012
2          3  Voluntary Early Retirement (VER)        05/2012
3          4         Resignation-Other reasons        05/2012
4          5                    Age Retirement        05/2012

In [18]:

# Combine both DataFrames
combined_df = pd.concat([dete_subset, tafe_subset], ignore_index=True)

# Save to CSV
csv_filename = 'combined_employee_data.csv'
combined_df.to_csv(csv_filename, index=False)
print(f"Combined data saved to {csv_filename}")

Combined data saved to combined_employee_data.csv

In [20]:
combined_df.describe

<bound method NDFrame.describe of          record_id                                 reason_and_factors  \
0     1.000000e+00                              Ill Health Retirement
1     2.000000e+00                   Voluntary Early Retirement (VER)
2     3.000000e+00                   Voluntary Early Retirement (VER)
3     4.000000e+00                          Resignation-Other reasons
4     5.000000e+00                                     Age Retirement
...            ...                                                ...
1519  6.350668e+17          Resignation | Career Move - Public Sector
1520  6.350677e+17          Resignation | Career Move - Public Sector
1521  6.350704e+17                                Resignation | Other
1522  6.350712e+17                                Contract Expired |
1523  6.350730e+17  Resignation | Career Move - Self-employment, T...

     cessation_year
0           08/2012
1           08/2012
2           05/2012
3           05/2012
4           05/2012
...             ...
1519         2013.0
1520         2013.0
1521         2013.0
1522         2013.0
1523         2013.0

[1524 rows x 3 columns]>

In [ ]:
import pandas as pd

# --- Use your cleaned DataFrames as in your code results ---

# Select relevant columns from dete_subset
dete_final = dete_subset[['position', 'employment_status', 'length_of_service', 'dissatisfied']].copy()

# For tafe_subset, create a 'position' column (using 'institute' as a placeholder)
tafe_final = tafe_subset.copy()
tafe_final.rename(columns={'institute': 'position'}, inplace=True)
tafe_final['employment_status'] = 'Unknown'  # since not available
# length_of_service: proxy as cessation_year - 2010 (or another logic if you have start year)
tafe_final['length_of_service'] = tafe_final['cessation_year'] - 2010

# Keep only required columns
tafe_final = tafe_final[['position', 'employment_status', 'length_of_service', 'dissatisfied']]

# Combine both DataFrames
combined_df = pd.concat([dete_final, tafe_final], ignore_index=True)

# Save to CSV
csv_filename = 'combined_employee_data.csv'
combined_df.to_csv(csv_filename, index=False)
print(f"Combined data saved to {csv_filename}")

KeyError: "None of [Index(['position', 'employment_status', 'length_of_service', 'dissatisfied'], dtype='object')] are in the [columns]"

In [ ]:
# For DETE
dete_subset['dissatisfied'] = dete_subset['separationtype'].str.contains(
    'Resignation|Ill Health', case=False, na=False
)

# For TAFE
tafe_subset['dissatisfied'] = (
    tafe_subset['reason_for_ceasing_employment'].str.contains('Resignation', case=False, na=False) |
    tafe_subset['combined_factors'].str.contains('Career Move', case=False, na=False)
)

C:\Users\DILSHAD\AppData\Local\Temp\ipykernel_14196\3486548851.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dete_subset['dissatisfied'] = dete_subset['separationtype'].str.contains(

In [ ]:
# DETE: Calculate length of service
dete_subset['cease_year'] = dete_subset['cease_date'].str.extract(r'(\d{4})').astype(float)
dete_subset['dete_start_date'] = pd.to_numeric(dete_subset['dete_start_date'], errors='coerce')
dete_subset['length_of_service'] = dete_subset['cease_year'] - dete_subset['dete_start_date']

# TAFE: Use cessation_year as end year, no start year available
tafe_subset['length_of_service'] = np.nan  # or fill if you have the data

C:\Users\DILSHAD\AppData\Local\Temp\ipykernel_14196\2934456427.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dete_subset['cease_year'] = dete_subset['cease_date'].str.extract(r'(\d{4})').astype(float)
C:\Users\DILSHAD\AppData\Local\Temp\ipykernel_14196\2934456427.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dete_subset['dete_start_date'] = pd.to_numeric(dete_subset['dete_start_date'], errors='coerce')
C:\Users\DILSHAD\AppData\Local\Temp\ipykernel_14196\2934456427.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dete_subset['length_of_service'] = dete_subset['cease_year'] - dete_subset['dete_start_date']

In [ ]:
# Select features for modeling
dete_features = dete_subset[['position', 'employment_status', 'length_of_service', 'dissatisfied']].dropna()
tafe_features = tafe_subset[['institute', 'reason_for_ceasing_employment', 'combined_factors', 'length_of_service', 'dissatisfied']].dropna()

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Combine datasets for modeling (optional, or model separately)
dete_features['dataset'] = 'dete'
tafe_features['dataset'] = 'tafe'
combined = pd.concat([dete_features, tafe_features], ignore_index=True)

# Encode categorical columns
for col in ['position', 'employment_status', 'institute', 'reason_for_ceasing_employment', 'combined_factors', 'dataset']:
    if col in combined.columns:
        combined[col] = combined[col].astype(str)
        combined[col] = LabelEncoder().fit_transform(combined[col])

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

# Define features and target
feature_cols = [col for col in combined.columns if col not in ['dissatisfied']]
X = combined[feature_cols]
y = combined['dissatisfied']

# Train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train model
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

# Evaluate
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       False       0.66      0.79      0.72        75
        True       0.70      0.54      0.61        68

    accuracy                           0.67       143
   macro avg       0.68      0.67      0.66       143
weighted avg       0.68      0.67      0.67       143

In [ ]:
# Example: Predict on new DETE or TAFE records
new_records = X_test.iloc[:5]
predictions = clf.predict(new_records)
print(predictions)

[False False False False  True]

In [ ]:
# Clean date columns
dete_subset['cease_year'] = dete_subset['cease_date'].str.extract(r'(\d{4})').astype(float)
dete_subset['dete_start_date'] = pd.to_numeric(dete_subset['dete_start_date'], errors='coerce')
dete_subset['length_of_service'] = dete_subset['cease_year'] - dete_subset['dete_start_date']

C:\Users\DILSHAD\AppData\Local\Temp\ipykernel_14196\439502951.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dete_subset['cease_year'] = dete_subset['cease_date'].str.extract(r'(\d{4})').astype(float)
C:\Users\DILSHAD\AppData\Local\Temp\ipykernel_14196\439502951.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dete_subset['dete_start_date'] = pd.to_numeric(dete_subset['dete_start_date'], errors='coerce')
C:\Users\DILSHAD\AppData\Local\Temp\ipykernel_14196\439502951.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dete_subset['length_of_service'] = dete_subset['cease_year'] - dete_subset['dete_start_date']

In [ ]:
# DETE: Mark dissatisfied based on separation type
dete_subset['dissatisfied'] = dete_subset['separationtype'].str.contains('dissatisfaction|ill health', case=False, na=False)

# TAFE: Mark dissatisfied if any contributing factor is 'Yes'
contrib_cols = [col for col in tafe_subset.columns if 'contributing_factors' in col]
tafe_subset['dissatisfied'] = tafe_subset[contrib_cols].apply(lambda row: 'Yes' in row.values, axis=1)

C:\Users\DILSHAD\AppData\Local\Temp\ipykernel_14196\134000027.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dete_subset['dissatisfied'] = dete_subset['separationtype'].str.contains('dissatisfaction|ill health', case=False, na=False)

In [ ]:
# Standardize columns for merging
dete_final = dete_subset[['length_of_service', 'dissatisfied']].copy()
tafe_final = tafe_subset[['reason_for_ceasing_employment', 'dissatisfied']].copy()
tafe_final['length_of_service'] = np.nan  # If not available

combined = pd.concat([dete_final, tafe_final], ignore_index=True)

In [ ]:
# Analyze attrition by dissatisfaction
risk_summary = combined.groupby('dissatisfied')['length_of_service'].agg(['count', 'mean'])
print(risk_summary)

              count       mean
dissatisfied
False           670  18.129851
True             49  21.795918

In [ ]:
# Simple rule-based recommendations
def recommend(row):
    if row.name:  # dissatisfied == True
        if row['mean'] and row['mean'] > 7:
            return "Focus on career development, recognition, and wellness for long-tenured staff."
        else:
            return "Improve onboarding, early engagement, and support for new employees."
    else:
        return "Maintain current engagement strategies."

risk_summary['recommendation'] = risk_summary.apply(recommend, axis=1)
print(risk_summary)

              count       mean  \
dissatisfied
False           670  18.129851
True             49  21.795918

                                                 recommendation
dissatisfied
False                   Maintain current engagement strategies.
True          Focus on career development, recognition, and ...

In [ ]:
%pip install textblob

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: textblob in c:\users\dilshad\appdata\roaming\python\python312\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\users\dilshad\appdata\roaming\python\python312\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\dilshad\appdata\roaming\python\python312\site-packages (from nltk>=3.9->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\dilshad\appdata\roaming\python\python312\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\dilshad\appdata\roaming\python\python312\site-packages (from nltk>=3.9->textblob) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\dilshad\appdata\roaming\python\python312\site-packages (from nltk>=3.9->textblob) (4.66.5)
Requirement already satisfied: colorama in c:\users\dilshad\appdata\roaming\python\python312\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from textblob import TextBlob

sample_feedback = [
    "I felt unsupported by management and overwhelmed by workload.",
    "The team was great and I enjoyed my time here.",
    "My contributions were rarely acknowledged, and I felt invisible in the team.",
    "The workload was manageable and my manager always listened to my concerns.",
    "There was a lack of growth opportunities, which made me consider leaving.",
    "I appreciated the flexible hours and supportive colleagues.",
    "Communication from upper management was poor and often confusing.",
    "I enjoyed working here and learned a lot from my peers.",
    "The constant changes in leadership created uncertainty and stress.",
    "I felt valued and was given plenty of chances to develop my skills.",
    "Unrealistic deadlines made it hard to maintain a work-life balance.",
    "The positive culture and team spirit made every day enjoyable."
]

def attrition_risk(sentiment_score):
    if sentiment_score <= 0.3:
        return "High Attrition Risk"
    else:
        return "Low Attrition Risk"

for feedback in sample_feedback:
    sentiment = TextBlob(feedback).sentiment.polarity
    print(f"Feedback: {feedback}\nSentiment score: {sentiment}\nRisk Level: {attrition_risk(sentiment)}\n")

Feedback: I felt unsupported by management and overwhelmed by workload.
Sentiment score: 0.0
Risk Level: High Attrition Risk

Feedback: The team was great and I enjoyed my time here.
Sentiment score: 0.65
Risk Level: Low Attrition Risk

Feedback: My contributions were rarely acknowledged, and I felt invisible in the team.
Sentiment score: 0.3
Risk Level: High Attrition Risk

Feedback: The workload was manageable and my manager always listened to my concerns.
Sentiment score: 0.0
Risk Level: High Attrition Risk

Feedback: There was a lack of growth opportunities, which made me consider leaving.
Sentiment score: 0.0
Risk Level: High Attrition Risk

Feedback: I appreciated the flexible hours and supportive colleagues.
Sentiment score: 0.35
Risk Level: Low Attrition Risk

Feedback: Communication from upper management was poor and often confusing.
Sentiment score: -0.2333333333333333
Risk Level: High Attrition Risk

Feedback: I enjoyed working here and learned a lot from my peers.
Sentiment score: 0.5
Risk Level: Low Attrition Risk

Feedback: The constant changes in leadership created uncertainty and stress.
Sentiment score: 0.0
Risk Level: High Attrition Risk

Feedback: I felt valued and was given plenty of chances to develop my skills.
Sentiment score: 0.0
Risk Level: High Attrition Risk

Feedback: Unrealistic deadlines made it hard to maintain a work-life balance.
Sentiment score: -0.39583333333333337
Risk Level: High Attrition Risk

Feedback: The positive culture and team spirit made every day enjoyable.
Sentiment score: 0.36363636363636365
Risk Level: Low Attrition Risk